<app-card
  id="menucard"
  title="Menu"
>
  <dx-data-grid id="gridContainer"
                [dataSource]="dsMenu"
                (onRowUpdating)="onRowUpdating($event)"
  >
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
    >
      <dxo-popup
        title="Menu"
        [showTitle]="true" >
      </dxo-popup>
      <dxo-form >
        <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
          <dxi-item dataField="isPage" editorType="dxSwitch" ></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
          <dxi-item dataField="menuIdParent" editorType="dxSelectBox" datatype="number"
                    [editorOptions]="{dataSource: this.constant.aokijiApi + 'menu/get?rawMode=true', valueExpr: 'menuId', searchEnabled: true, displayExpr: 'menuName' }" ></dxi-item>
          <dxi-item dataField="menuCode" ></dxi-item>
          <dxi-item dataField="menuName" ></dxi-item>
          <dxi-item dataField="route"   ></dxi-item>
        </dxi-item>
      </dxo-form>

    </dxo-editing>
    <dxi-column dataField="menuId" [visible]="false"></dxi-column>
    <dxi-column dataField="menuIdParent" [visible]="false"></dxi-column>
    <dxi-column dataField="menuCode" caption="Kode Menu">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="menuName" caption="Nama Menu">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="route" caption="Route">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="isPage" [visible]="true"></dxi-column>
  </dx-data-grid>

</app-card>
