<div class="row">
  <div class="col-12">
    <app-card title="Privilege" id="Privilege" >

      <dx-data-grid
        id="gridContainer"
        keyExpr="idPrivilege"
        [dataSource]="dataSource"
        (onToolbarPreparing)="onToolbarPreparing($event)"
        [masterDetail]="{ enabled: true, template: 'detail' }">
        <div *dxTemplate="let row of 'detail'">
          <dx-data-grid
            id="detailpriv"
            [dataSource]="privilegesMenuDs">
            <dxi-column dataField="idPrivilegeMenu" [visible]="false"></dxi-column>
            <dxi-column dataField="menuName"></dxi-column>
            <dxi-column dataField="action"></dxi-column>
          </dx-data-grid>
        </div>
      </dx-data-grid>
    </app-card>
  </div>
</div>
