<div class="card" id="{{id}}">
  <div class="card-header header-elements-inline">
    <h6 class="card-title"> </h6>
    <div class="header-elements">
      <div class="list-icons">
        <a class="list-icons-item" data-action="collapse"></a>
<!--        <a class="list-icons-item" data-action="reload"></a>-->
<!--        <a class="list-icons-item" data-action="remove"></a>-->
      </div>
    </div>
  </div>

  <div class="card-body">
    <ng-content></ng-content>
  </div>
</div>
