
<app-card id="1" [title]="'Card 1'">


  <form  (submit)="onFormSubmit($event)">
    <div class="dx-fieldset">
      <div class="dx-fieldset-header">Credentials</div>
      <div class="dx-field">
        <div class="dx-field-label">Email</div>
        <div class="dx-field-value">
          <dx-text-box>
            <dx-validator>
              <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
              <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>


    </div>



    <div class="dx-fieldset">
      <dx-validation-summary id="summary"></dx-validation-summary>

      <dx-button
        id="button"
        text="Register"
        type="success"
        [useSubmitBehavior]="true">
      </dx-button>
    </div>
  </form>

</app-card>
