<app-card title="Privilege - Create" id="privilegeCreate">

<!--  {{privilegeForm.value | json}}-->

  <form [formGroup]="privilegeForm" (submit)="onFormSubmit($event)">


    <dx-text-box formControlName="privilegeName" placeholder="Nama Privilege">
      <dx-validator>
        <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
      </dx-validator>
    </dx-text-box>

    <table datatable [dtOptions]="dtOptions" class="table">
      <thead>
      <tr>
        <th>Menu</th>
        <th  *ngFor="let row of actions">{{row.value}}</th>
      </tr>
      </thead>
      <tbody>
      <tr formArrayName="privileges" *ngFor="let row1 of menus; let i = index">
        <td>{{row1.value}}</td>
        <td [formGroupName]="i" *ngFor="let row2 of actions" >
            <dx-switch [formControlName]="row1.key + '_' + row2.key"  ></dx-switch>
        </td>
      </tr>

      </tbody>
    </table>

    <div class="text-right">
      <dx-button
        id="button"
        text="{{ (updateMode) ? 'Update' : 'Simpan' }}"
        type="default"
        [useSubmitBehavior]="true">
      </dx-button>
    </div>

  </form>



<!--  <button (click)="test()">test</button>-->

  <!--  <dx-form id="form"-->
  <!--           [formGroup]="recipeForm"-->
  <!--           [colCount]="2">-->
  <!--    <dxi-item dataField="FirstName" [editorOptions]="{ disabled: false }"></dxi-item>-->
  <!--    <dxi-item dataField="LastName" [editorOptions]="{ disabled: true }"></dxi-item>-->
  <!--    <dxi-item dataField="HireDate" editorType="dxDateBox" [editorOptions]="{ value: null, width: '100%' }">-->
  <!--      <dxi-validation-rule type="required" message="Hire date is required"></dxi-validation-rule>-->
  <!--    </dxi-item>-->
  <!--    <dxi-item dataField="BirthDate" editorType="dxDateBox" [editorOptions]="{ disabled: true, width: '100%' }"></dxi-item>-->
  <!--    <dxi-item dataField="Address"  ></dxi-item>-->
  <!--    <dxi-item dataField="Notes" editorType="dxTextArea" [editorOptions]="{ height: 90 }" [colSpan]="2"></dxi-item>-->

  <!--    <dxi-item  [colSpan]="2">-->
  <!--      <input-->
  <!--        type="text"-->
  <!--        id="name"-->
  <!--        formControlName="address"-->
  <!--        class="form-control">-->

  <!--      <table border="0" width="100%">-->
  <!--        <tr>-->
  <!--          <td></td>-->
  <!--          <td>Create</td>-->
  <!--          <td>Read</td>-->
  <!--          <td>Update</td>-->
  <!--          <td>Delete</td>-->
  <!--          <td>Approve</td>-->
  <!--        </tr>-->
  <!--        <tr>-->
  <!--          <td>Menu 1</td>-->
  <!--          <td><dx-switch [value]="true" ></dx-switch></td>-->
  <!--          <td><dx-switch [value]="true" ></dx-switch></td>-->
  <!--          <td><dx-switch [value]="true" ></dx-switch></td>-->
  <!--          <td><dx-switch [value]="true" ></dx-switch></td>-->
  <!--          <td><dx-switch [value]="true" ></dx-switch></td>-->
  <!--        </tr>-->
  <!--        <tr>-->
  <!--          <td>Menu 2</td>-->
  <!--          <td><dx-switch [value]="true" ></dx-switch></td>-->
  <!--          <td><dx-switch [value]="true" ></dx-switch></td>-->
  <!--          <td><dx-switch [value]="true" ></dx-switch></td>-->
  <!--          <td><dx-switch [value]="true" ></dx-switch></td>-->
  <!--          <td> </td>-->
  <!--        </tr>-->
  <!--        <tr>-->
  <!--          <td>Menu 3</td>-->
  <!--          <td><dx-switch [value]="true" ></dx-switch></td>-->
  <!--          <td><dx-switch [value]="true" ></dx-switch></td>-->
  <!--          <td><dx-switch [value]="true" ></dx-switch></td>-->
  <!--          <td> </td>-->
  <!--          <td> </td>-->
  <!--        </tr>-->
  <!--        <tr>-->
  <!--          <td>Menu 4</td>-->
  <!--          <td><dx-switch [value]="true" ></dx-switch></td>-->
  <!--          <td><dx-switch [value]="true" ></dx-switch></td>-->
  <!--          <td> </td>-->
  <!--          <td> <dx-switch [value]="true" ></dx-switch></td>-->
  <!--          <td><dx-switch [value]="true" ></dx-switch></td>-->
  <!--        </tr>-->
  <!--      </table>-->

  <!--      <div class="text-right">-->
  <!--        <button type="submit" class="btn btn-primary" (click)="onSubmit()" >Create <i class="icon-paperplane ml-2"></i></button>-->
  <!--      </div>-->
  <!--    </dxi-item>-->

  <!--  </dx-form>-->



<!--  <form [formGroup]="recipeForm" (submit)="onFormSubmit($event)">-->
  <form >

<h2>
<!--  Form value : {{recipeForm.value | json}}-->
</h2>

<!--    <div class="form-group">-->
<!--      <label>Nama Privilege</label>-->
<!--      <dx-text-box-->
<!--        name="email"-->
<!--        formControlName="test">-->

<!--        <dx-validator>-->
<!--          <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>-->
<!--          <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>-->
<!--        </dx-validator>-->


<!--      </dx-text-box>-->
<!--    </div>-->

<!--    <div class="form-group" formArrayName="privilege" formGroupName="privilege" *ngFor="let row of recipeForm.get('privilege').controls; let i = index">-->
<!--      <div [formGroupName]="i">-->
<!--        <dx-switch formControlName="menu1C" ></dx-switch>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label>Menu</label>-->
<!--            <table border="0" width="100%">-->
<!--              <tr>-->
<!--                <td></td>-->
<!--                <td>Create</td>-->
<!--                <td>Read</td>-->
<!--                <td>Update</td>-->
<!--                <td>Delete</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Menu 1</td>-->
<!--                <td><dx-switch formControlName="address" [value]="true" ></dx-switch></td>-->
<!--                <td><dx-switch [value]="true" ></dx-switch></td>-->
<!--                <td><dx-switch [value]="true" ></dx-switch></td>-->
<!--                <td><dx-switch [value]="true" ></dx-switch></td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Menu 2</td>-->
<!--                <td><dx-switch [value]="true" ></dx-switch></td>-->
<!--                <td><dx-switch [value]="true" ></dx-switch></td>-->
<!--                <td><dx-switch [value]="true" ></dx-switch></td>-->
<!--                <td> </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Menu 3</td>-->
<!--                <td><dx-switch [value]="true" ></dx-switch></td>-->
<!--                <td><dx-switch [value]="true" ></dx-switch></td>-->
<!--                <td><dx-switch [value]="true" ></dx-switch></td>-->
<!--                <td> </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Menu 4</td>-->
<!--                <td><dx-switch [value]="true" ></dx-switch></td>-->
<!--                <td><dx-switch [value]="true" ></dx-switch></td>-->
<!--                <td> </td>-->
<!--                <td> <dx-switch [value]="true" ></dx-switch></td>-->
<!--              </tr>-->
<!--            </table>-->
<!--    </div>-->

<!--    <dx-button-->
<!--      id="button"-->
<!--      text="Register"-->
<!--      type="success"-->
<!--      [useSubmitBehavior]="true">-->
<!--    </dx-button>-->

<!--    <button type="submit" class="btn btn-primary" (click)="onSubmit()" >Create <i class="icon-paperplane ml-2"></i></button>-->
  </form>

</app-card>
