<!--<dx-data-grid-->
<!--  id="{{parameterId}}"-->
<!--  [dataSource]="parameterDataSource"-->
<!--  showRowLines="true"-->
<!--  columnAutoWidth="true"-->
<!--  showColumnLines="true"-->
<!--  rowAlternationEnabled="true"-->
<!--  allowColumnResizing="true"-->
<!--  (onSelectionChanged)="parameterOnSelectionChangedInput($event)"-->
<!--  [masterDetail]="parameterMasterDetail"-->
<!--  [showBorders]="true"-->
<!--&gt;-->
<!--  <ng-content></ng-content>-->
<!--&lt;!&ndash;        <dxo-selection mode="single"></dxo-selection>&ndash;&gt;-->
<!--</dx-data-grid>-->
