<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-light navbar-static">

  <!-- Header with logos -->
  <div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
    <div class="navbar-brand navbar-brand-md">
      <a href="index.html" class="d-inline-block">
        <img src="assets/global_assets/images/logo_light.png" alt="">
      </a>
    </div>

    <div class="navbar-brand navbar-brand-xs">
      <a href="index.html" class="d-inline-block">
        <img src="assets/global_assets/images/logo_icon_light.png" alt="">
      </a>
    </div>
  </div>
  <!-- /header with logos -->


  <!-- Mobile controls -->
  <div class="d-flex flex-1 d-md-none">
    <div class="navbar-brand mr-auto">
      <a href="index.html" class="d-inline-block">
        <img src="assets/global_assets/images/logo_dark.png" alt="">
      </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
      <i class="icon-tree5"></i>
    </button>

    <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
      <i class="icon-paragraph-justify3"></i>
    </button>
  </div>
  <!-- /mobile controls -->


  <!-- Navbar content -->
  <div class="collapse navbar-collapse" id="navbar-mobile">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
          <i class="icon-paragraph-justify3"></i>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
          <i class="icon-people"></i>
          <span class="d-md-none ml-2">Users</span>
          <span class="badge badge-mark border-pink-400 ml-auto ml-md-0"></span>
        </a>

        <div class="dropdown-menu dropdown-content wmin-md-300">
          <div class="dropdown-content-header">
            <span class="font-weight-semibold">Users online</span>
            <a href="#" class="text-default"><i class="icon-search4 font-size-base"></i></a>
          </div>

          <div class="dropdown-content-body dropdown-scrollable">
            <ul class="media-list">
              <li class="media">
                <div class="mr-3">
                  <img src="assets/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                </div>
                <div class="media-body">
                  <a href="#" class="media-title font-weight-semibold">Jordana Ansley</a>
                  <span class="d-block text-muted font-size-sm">Lead web developer</span>
                </div>
                <div class="ml-3 align-self-center"><span class="badge badge-mark border-success"></span></div>
              </li>

              <li class="media">
                <div class="mr-3">
                  <img src="assets/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                </div>
                <div class="media-body">
                  <a href="#" class="media-title font-weight-semibold">Will Brason</a>
                  <span class="d-block text-muted font-size-sm">Marketing manager</span>
                </div>
                <div class="ml-3 align-self-center"><span class="badge badge-mark border-danger"></span></div>
              </li>

              <li class="media">
                <div class="mr-3">
                  <img src="assets/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                </div>
                <div class="media-body">
                  <a href="#" class="media-title font-weight-semibold">Hanna Walden</a>
                  <span class="d-block text-muted font-size-sm">Project manager</span>
                </div>
                <div class="ml-3 align-self-center"><span class="badge badge-mark border-success"></span></div>
              </li>

              <li class="media">
                <div class="mr-3">
                  <img src="assets/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                </div>
                <div class="media-body">
                  <a href="#" class="media-title font-weight-semibold">Dori Laperriere</a>
                  <span class="d-block text-muted font-size-sm">Business developer</span>
                </div>
                <div class="ml-3 align-self-center"><span class="badge badge-mark border-warning-300"></span></div>
              </li>

              <li class="media">
                <div class="mr-3">
                  <img src="assets/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                </div>
                <div class="media-body">
                  <a href="#" class="media-title font-weight-semibold">Vanessa Aurelius</a>
                  <span class="d-block text-muted font-size-sm">UX expert</span>
                </div>
                <div class="ml-3 align-self-center"><span class="badge badge-mark border-grey-400"></span></div>
              </li>
            </ul>
          </div>

          <div class="dropdown-content-footer bg-light">
            <a href="#" class="text-grey mr-auto">All users</a>
            <a href="#" class="text-grey"><i class="icon-gear"></i></a>
          </div>
        </div>
      </li>
    </ul>

    <span class="badge bg-pink-400 badge-pill ml-md-3 mr-md-auto">16 orders</span>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
          <img src="assets/global_assets/images/lang/gb.png" class="img-flag mr-2" alt="">
          English
        </a>

        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item english active"><img src="assets/global_assets/images/lang/gb.png" class="img-flag" alt=""> English</a>
          <a href="#" class="dropdown-item ukrainian"><img src="assets/global_assets/images/lang/ua.png" class="img-flag" alt=""> Українська</a>
          <a href="#" class="dropdown-item deutsch"><img src="assets/global_assets/images/lang/de.png" class="img-flag" alt=""> Deutsch</a>
          <a href="#" class="dropdown-item espana"><img src="assets/global_assets/images/lang/es.png" class="img-flag" alt=""> España</a>
          <a href="#" class="dropdown-item russian"><img src="assets/global_assets/images/lang/ru.png" class="img-flag" alt=""> Русский</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
          <i class="icon-bubbles4"></i>
          <span class="d-md-none ml-2">Messages</span>
          <span class="badge badge-mark border-pink-400 ml-auto ml-md-0"></span>
        </a>

        <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
          <div class="dropdown-content-header">
            <span class="font-weight-semibold">Messages</span>
            <a href="#" class="text-default"><i class="icon-compose"></i></a>
          </div>

          <div class="dropdown-content-body dropdown-scrollable">
            <ul class="media-list">
              <li class="media">
                <div class="mr-3 position-relative">
                  <img src="assets/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                </div>

                <div class="media-body">
                  <div class="media-title">
                    <a href="#">
                      <span class="font-weight-semibold">James Alexander</span>
                      <span class="text-muted float-right font-size-sm">04:58</span>
                    </a>
                  </div>

                  <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                </div>
              </li>

              <li class="media">
                <div class="mr-3 position-relative">
                  <img src="assets/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                </div>

                <div class="media-body">
                  <div class="media-title">
                    <a href="#">
                      <span class="font-weight-semibold">Margo Baker</span>
                      <span class="text-muted float-right font-size-sm">12:16</span>
                    </a>
                  </div>

                  <span class="text-muted">That was something he was unable to do because...</span>
                </div>
              </li>

              <li class="media">
                <div class="mr-3">
                  <img src="assets/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                </div>
                <div class="media-body">
                  <div class="media-title">
                    <a href="#">
                      <span class="font-weight-semibold">Jeremy Victorino</span>
                      <span class="text-muted float-right font-size-sm">22:48</span>
                    </a>
                  </div>

                  <span class="text-muted">But that would be extremely strained and suspicious...</span>
                </div>
              </li>

              <li class="media">
                <div class="mr-3">
                  <img src="assets/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                </div>
                <div class="media-body">
                  <div class="media-title">
                    <a href="#">
                      <span class="font-weight-semibold">Beatrix Diaz</span>
                      <span class="text-muted float-right font-size-sm">Tue</span>
                    </a>
                  </div>

                  <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                </div>
              </li>

              <li class="media">
                <div class="mr-3">
                  <img src="assets/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                </div>
                <div class="media-body">
                  <div class="media-title">
                    <a href="#">
                      <span class="font-weight-semibold">Richard Vango</span>
                      <span class="text-muted float-right font-size-sm">Mon</span>
                    </a>
                  </div>

                  <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                </div>
              </li>
            </ul>
          </div>

          <div class="dropdown-content-footer bg-light">
            <a href="#" class="text-grey mr-auto">All messages</a>
            <div>
              <a href="#" class="text-grey" data-popup="tooltip" title="Mark all as read"><i class="icon-radio-unchecked"></i></a>
              <a href="#" class="text-grey ml-2" data-popup="tooltip" title="Settings"><i class="icon-cog3"></i></a>
            </div>
          </div>
        </div>
      </li>

      <li class="nav-item dropdown dropdown-user">
        <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
          <img src="assets/global_assets/images/placeholders/placeholder.jpg" class="rounded-circle mr-2" height="34" alt="">
          <span>Victoria</span>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
          <a href="#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>
          <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-indigo-400 ml-auto">58</span></a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
          <a href="#" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
        </div>
      </li>
    </ul>
  </div>
  <!-- /navbar content -->

</div>
<!-- /main navbar -->


<!-- Page content -->
<div class="page-content">

  <!-- Main sidebar -->
  <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
      <a href="#" class="sidebar-mobile-main-toggle">
        <i class="icon-arrow-left8"></i>
      </a>
      Navigation
      <a href="#" class="sidebar-mobile-expand">
        <i class="icon-screen-full"></i>
        <i class="icon-screen-normal"></i>
      </a>
    </div>
    <!-- /sidebar mobile toggler -->


    <!-- Sidebar content -->
    <div class="sidebar-content">

      <!-- User menu -->
      <div class="sidebar-user-material">
        <div class="sidebar-user-material-body">
          <div class="card-body text-center">
            <a href="#">
              <img src="assets/global_assets/images/placeholders/placeholder.jpg" class="img-fluid rounded-circle shadow-1 mb-3" width="80" height="80" alt="">
            </a>
            <h6 class="mb-0 text-white text-shadow-dark">Victoria Baker</h6>
            <span class="font-size-sm text-white text-shadow-dark">Santa Ana, CA</span>
          </div>

          <div class="sidebar-user-material-footer">
            <a href="#user-nav" class="d-flex justify-content-between align-items-center text-shadow-dark dropdown-toggle" data-toggle="collapse"><span>My account</span></a>
          </div>
        </div>

        <div class="collapse" id="user-nav">
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="icon-user-plus"></i>
                <span>My profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="icon-coins"></i>
                <span>My balance</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="icon-comment-discussion"></i>
                <span>Messages</span>
                <span class="badge bg-success-400 badge-pill align-self-center ml-auto">58</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="icon-cog5"></i>
                <span>Account settings</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="icon-switch2"></i>
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /user menu -->


      <!-- Main navigation -->
      <div class="card card-sidebar-mobile">
        <ul class="nav nav-sidebar" data-nav-type="accordion">

          <!-- Main -->
          <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
          <li class="nav-item">
            <a [routerLink]="['privilege']" routerLinkActive="active" class="nav-link">
              <i class="icon-home4"></i>
              <span>Privilege</span>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['menu']" routerLinkActive="active" class="nav-link">
              <i class="icon-menu"></i>
              <span>Menu</span>
            </a>
          </li>


          <li class="nav-item nav-item-submenu">
            <a href="#" class="nav-link"><i class="icon-copy"></i> <span>Layouts</span></a>

            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
              <li class="nav-item"><a [routerLink]="['test-1']" routerLinkActive="active" class="nav-link">Default layout</a></li>
              <li class="nav-item"><a [routerLink]="['test-2']" routerLinkActive="active" class="nav-link">Layout 2</a></li>
              <li class="nav-item"><a href="assets/layout_3/LTR/default/full/index.html" class="nav-link">Layout 3</a></li>
              <li class="nav-item"><a href="assets/layout_4/LTR/default/full/index.html" class="nav-link">Layout 4</a></li>
              <li class="nav-item"><a href="assets/layout_5/LTR/default/full/index.html" class="nav-link">Layout 5</a></li>
              <li class="nav-item"><a href="assets/layout_6/LTR/default/full/index.html" class="nav-link disabled">Layout 6 <span class="badge bg-transparent align-self-center ml-auto">Coming soon</span></a></li>
            </ul>
          </li>
          <li class="nav-item nav-item-submenu">
            <a href="#" class="nav-link"><i class="icon-color-sampler"></i> <span>Themes</span></a>

            <ul class="nav nav-group-sub" data-submenu-title="Themes">
              <li class="nav-item"><a href="../../../LTR/default/full/index.html" class="nav-link">Default</a></li>
              <li class="nav-item"><a href="index.html" class="nav-link active">Material</a></li>
              <li class="nav-item"><a href="../../../LTR/dark/full/index.html" class="nav-link disabled">Dark <span class="badge bg-transparent align-self-center ml-auto">Coming soon</span></a></li>
              <li class="nav-item"><a href="../../../LTR/clean/full/index.html" class="nav-link disabled">Clean <span class="badge bg-transparent align-self-center ml-auto">Coming soon</span></a></li>
            </ul>
          </li>
          <li class="nav-item nav-item-submenu">
            <a href="#" class="nav-link"><i class="icon-stack"></i> <span>Starter kit</span></a>

            <ul class="nav nav-group-sub" data-submenu-title="Starter kit">
              <li class="nav-item"><a href="../seed/layout_nav_horizontal.html" class="nav-link">Horizontal navigation</a></li>
              <li class="nav-item"><a href="../seed/sidebar_none.html" class="nav-link">No sidebar</a></li>
              <li class="nav-item"><a href="../seed/sidebar_main.html" class="nav-link">1 sidebar</a></li>
              <li class="nav-item nav-item-submenu">
                <a href="#" class="nav-link">2 sidebars</a>
                <ul class="nav nav-group-sub">
                  <li class="nav-item"><a href="../seed/sidebar_secondary.html" class="nav-link">Secondary sidebar</a></li>
                  <li class="nav-item"><a href="../seed/sidebar_right.html" class="nav-link">Right sidebar</a></li>
                </ul>
              </li>
              <li class="nav-item nav-item-submenu">
                <a href="#" class="nav-link">3 sidebars</a>
                <ul class="nav nav-group-sub">
                  <li class="nav-item"><a href="../seed/sidebar_right_hidden.html" class="nav-link">Right sidebar hidden</a></li>
                  <li class="nav-item"><a href="../seed/sidebar_right_visible.html" class="nav-link">Right sidebar visible</a></li>
                </ul>
              </li>
              <li class="nav-item nav-item-submenu">
                <a href="#" class="nav-link">Content sidebars</a>
                <ul class="nav nav-group-sub">
                  <li class="nav-item"><a href="../seed/sidebar_content_left.html" class="nav-link">Left sidebar</a></li>
                  <li class="nav-item"><a href="../seed/sidebar_content_right.html" class="nav-link">Right sidebar</a></li>
                </ul>
              </li>
              <li class="nav-item"><a href="../seed/layout_boxed.html" class="nav-link">Boxed layout</a></li>
              <li class="nav-item-divider"></li>
              <li class="nav-item"><a href="../seed/navbar_fixed_main.html" class="nav-link">Fixed main navbar</a></li>
              <li class="nav-item"><a href="../seed/navbar_fixed_secondary.html" class="nav-link">Fixed secondary navbar</a></li>
              <li class="nav-item"><a href="../seed/navbar_fixed_both.html" class="nav-link">Both navbars fixed</a></li>
              <li class="nav-item"><a href="../seed/layout_fixed.html" class="nav-link">Fixed layout</a></li>
            </ul>
          </li>
          <li class="nav-item"><a href="../../../RTL/default/full/index.html" class="nav-link"><i class="icon-width"></i> <span>RTL version</span></a></li>
          <!-- /main -->

          <!-- Layout -->
          <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Layout</div> <i class="icon-menu" title="Layout options"></i></li>
          <li class="nav-item nav-item-submenu">
            <a href="#" class="nav-link"><i class="icon-stack2"></i> <span>Page layouts</span></a>

            <ul class="nav nav-group-sub" data-submenu-title="Page layouts">
              <li class="nav-item"><a href="layout_fixed_navbar.html" class="nav-link">Fixed navbar</a></li>
              <li class="nav-item"><a href="layout_fixed_sidebar_custom.html" class="nav-link">Fixed sidebar - custom scroll</a></li>
              <li class="nav-item"><a href="layout_fixed_sidebar_native.html" class="nav-link">Fixed sidebar - native scroll</a></li>
              <li class="nav-item"><a href="layout_fixed_footer.html" class="nav-link">Fixed footer</a></li>
              <li class="nav-item"><a href="layout_hideable_navbar.html" class="nav-link">Hideable navbar</a></li>
              <li class="nav-item"><a href="layout_without_header.html" class="nav-link">Without page header</a></li>
              <li class="nav-item-divider"></li>
              <li class="nav-item"><a href="layout_boxed_default.html" class="nav-link">Boxed with default sidebar</a></li>
              <li class="nav-item"><a href="layout_boxed_mini.html" class="nav-link">Boxed with mini sidebar</a></li>
              <li class="nav-item"><a href="layout_boxed_full.html" class="nav-link">Boxed full width</a></li>
              <li class="nav-item"><a href="layout_boxed_content.html" class="nav-link">Boxed content</a></li>
            </ul>
          </li>
          <li class="nav-item nav-item-submenu">
            <a href="#" class="nav-link"><i class="icon-page-break2"></i> <span>Headers &amp; footers</span></a>
            <ul class="nav nav-group-sub" data-submenu-title="Content styling">
              <li class="nav-item"><a href="content_page_header.html" class="nav-link">Page header</a></li>
              <li class="nav-item"><a href="content_page_footer.html" class="nav-link disabled">Page footer <span class="badge bg-transparent align-self-center ml-auto">Coming soon</span></a></li>
            </ul>
          </li>
          <li class="nav-item nav-item-submenu">
            <a href="#" class="nav-link"><i class="icon-indent-decrease2"></i> <span>Sidebars</span></a>
            <ul class="nav nav-group-sub" data-submenu-title="Sidebars">
              <li class="nav-item nav-item-submenu">
                <a href="#" class="nav-link">Main sidebar</a>
                <ul class="nav nav-group-sub">
                  <li class="nav-item"><a href="sidebar_default_collapse.html" class="nav-link">Default collapsible</a></li>
                  <li class="nav-item"><a href="sidebar_default_hide.html" class="nav-link">Default hideable</a></li>
                  <li class="nav-item"><a href="sidebar_default_hidden.html" class="nav-link">Default hidden</a></li>
                  <li class="nav-item"><a href="sidebar_mini_collapse.html" class="nav-link">Mini collapsible</a></li>
                  <li class="nav-item"><a href="sidebar_mini_hide.html" class="nav-link">Mini hideable</a></li>
                  <li class="nav-item"><a href="sidebar_mini_hidden.html" class="nav-link">Mini hidden</a></li>
                  <li class="nav-item-divider"></li>
                  <li class="nav-item"><a href="sidebar_default_color_light.html" class="nav-link">Light color</a></li>
                  <li class="nav-item"><a href="sidebar_default_color_custom.html" class="nav-link">Custom color</a></li>
                </ul>
              </li>
              <li class="nav-item nav-item-submenu">
                <a href="#" class="nav-link">Secondary sidebar</a>
                <ul class="nav nav-group-sub">
                  <li class="nav-item"><a href="sidebar_secondary_after.html" class="nav-link">After default</a></li>
                  <li class="nav-item"><a href="sidebar_secondary_before.html" class="nav-link">Before default</a></li>
                  <li class="nav-item"><a href="sidebar_secondary_hidden.html" class="nav-link">Hidden by default</a></li>
                  <li class="nav-item-divider"></li>
                  <li class="nav-item"><a href="sidebar_secondary_color_dark.html" class="nav-link">Dark color</a></li>
                  <li class="nav-item"><a href="sidebar_secondary_color_custom.html" class="nav-link">Custom color</a></li>
                </ul>
              </li>
              <li class="nav-item nav-item-submenu">
                <a href="#" class="nav-link">Right sidebar</a>
                <ul class="nav nav-group-sub">
                  <li class="nav-item"><a href="sidebar_right_default_collapse.html" class="nav-link">Show - collapse main</a></li>
                  <li class="nav-item"><a href="sidebar_right_default_hide.html" class="nav-link">Show - hide main</a></li>
                  <li class="nav-item"><a href="sidebar_right_default_toggle.html" class="nav-link">Show - fix default width</a></li>
                  <li class="nav-item"><a href="sidebar_right_mini_toggle.html" class="nav-link">Show - fix mini width</a></li>
                  <li class="nav-item"><a href="sidebar_right_secondary_hide.html" class="nav-link">Show - hide secondary</a></li>
                  <li class="nav-item"><a href="sidebar_right_visible.html" class="nav-link">Visible by default</a></li>
                  <li class="nav-item-divider"></li>
                  <li class="nav-item"><a href="sidebar_right_color_dark.html" class="nav-link">Dark color</a></li>
                  <li class="nav-item"><a href="sidebar_right_color_custom.html" class="nav-link">Custom color</a></li>
                </ul>
              </li>
              <li class="nav-item nav-item-submenu">
                <a href="#" class="nav-link">Content sidebar</a>
                <ul class="nav nav-group-sub">
                  <li class="nav-item"><a href="sidebar_content_left.html" class="nav-link">Left position</a></li>
                  <li class="nav-item"><a href="sidebar_content_left_stretch.html" class="nav-link">Left stretched</a></li>
                  <li class="nav-item"><a href="sidebar_content_left_hidden.html" class="nav-link">Left hidden</a></li>
                  <li class="nav-item"><a href="sidebar_content_right.html" class="nav-link">Right position</a></li>
                  <li class="nav-item"><a href="sidebar_content_right_stretch.html" class="nav-link">Right stretched</a></li>
                  <li class="nav-item"><a href="sidebar_content_right_hidden.html" class="nav-link">Right hidden</a></li>
                  <li class="nav-item"><a href="sidebar_content_sections.html" class="nav-link">Sectioned sidebar</a></li>
                  <li class="nav-item-divider"></li>
                  <li class="nav-item"><a href="sidebar_content_color_dark.html" class="nav-link">Dark color</a></li>
                  <li class="nav-item"><a href="sidebar_content_color_custom.html" class="nav-link">Custom color</a></li>
                  <li class="nav-item"><a href="sidebar_content_color_sections_custom.html" class="nav-link">Custom sections color</a></li>
                </ul>
              </li>
              <li class="nav-item-divider"></li>
              <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Sidebar components</a></li>
            </ul>
          </li>
          <li class="nav-item nav-item-submenu">
            <a href="#" class="nav-link"><i class="icon-menu3"></i> <span>Navbars</span></a>
            <ul class="nav nav-group-sub" data-submenu-title="Navbars">
              <li class="nav-item nav-item-submenu">
                <a href="#" class="nav-link">Single navbar</a>
                <ul class="nav nav-group-sub">
                  <li class="nav-item"><a href="navbar_single_top_static.html" class="nav-link">Single top static</a></li>
                  <li class="nav-item"><a href="navbar_single_top_fixed.html" class="nav-link">Single top fixed</a></li>
                  <li class="nav-item"><a href="navbar_single_bottom_static.html" class="nav-link">Single bottom static</a></li>
                  <li class="nav-item"><a href="navbar_single_bottom_fixed.html" class="nav-link">Single bottom fixed</a></li>
                  <li class="nav-item"><a href="navbar_single_header_before.html" class="nav-link">Before page header</a></li>
                  <li class="nav-item"><a href="navbar_single_header_after.html" class="nav-link">After page header</a></li>
                  <li class="nav-item"><a href="navbar_single_content_after.html" class="nav-link">After page content</a></li>
                </ul>
              </li>
              <li class="nav-item nav-item-submenu">
                <a href="#" class="nav-link">Multiple navbars</a>
                <ul class="nav nav-group-sub">
                  <li class="nav-item"><a href="navbar_multiple_top_static.html" class="nav-link">Multiple top static</a></li>
                  <li class="nav-item"><a href="navbar_multiple_top_fixed.html" class="nav-link">Multiple top fixed</a></li>
                  <li class="nav-item"><a href="navbar_multiple_bottom_static.html" class="nav-link">Multiple bottom static</a></li>
                  <li class="nav-item"><a href="navbar_multiple_bottom_fixed.html" class="nav-link">Multiple bottom fixed</a></li>
                  <li class="nav-item"><a href="navbar_multiple_top_bottom.html" class="nav-link">Multiple - top and bottom</a></li>
                  <li class="nav-item"><a href="navbar_multiple_secondary_sticky.html" class="nav-link">Multiple - secondary sticky</a></li>
                </ul>
              </li>
              <li class="nav-item nav-item-submenu">
                <a href="#" class="nav-link">Content navbar</a>
                <ul class="nav nav-group-sub">
                  <li class="nav-item"><a href="navbar_component_single.html" class="nav-link">Single navbar</a></li>
                  <li class="nav-item"><a href="navbar_component_multiple.html" class="nav-link">Multiple navbars</a></li>
                </ul>
              </li>
              <li class="nav-item-divider"></li>
              <li class="nav-item"><a href="navbar_colors.html" class="nav-link">Color options</a></li>
              <li class="nav-item"><a href="navbar_sizes.html" class="nav-link">Sizing options</a></li>
              <li class="nav-item"><a href="navbar_hideable.html" class="nav-link">Hide on scroll</a></li>
              <li class="nav-item"><a href="navbar_components.html" class="nav-link">Navbar components</a></li>
            </ul>
          </li>
          <li class="nav-item nav-item-submenu">
            <a href="#" class="nav-link"><i class="icon-sort"></i> <span>Vertical navigation</span></a>
            <ul class="nav nav-group-sub" data-submenu-title="Vertical navigation">
              <li class="nav-item"><a href="navigation_vertical_collapsible.html" class="nav-link">Collapsible menu</a></li>
              <li class="nav-item"><a href="navigation_vertical_accordion.html" class="nav-link">Accordion menu</a></li>
              <li class="nav-item"><a href="navigation_vertical_bordered.html" class="nav-link">Bordered navigation</a></li>
              <li class="nav-item"><a href="navigation_vertical_right_icons.html" class="nav-link">Right icons</a></li>
              <li class="nav-item"><a href="navigation_vertical_badges.html" class="nav-link">Badges</a></li>
              <li class="nav-item"><a href="navigation_vertical_disabled.html" class="nav-link">Disabled items</a></li>
            </ul>
          </li>
          <li class="nav-item nav-item-submenu">
            <a href="#" class="nav-link"><i class="icon-transmission"></i> <span>Horizontal navigation</span></a>
            <ul class="nav nav-group-sub" data-submenu-title="Horizontal navigation">
              <li class="nav-item"><a href="navigation_horizontal_click.html" class="nav-link">Submenu on click</a></li>
              <li class="nav-item"><a href="navigation_horizontal_hover.html" class="nav-link">Submenu on hover</a></li>
              <li class="nav-item"><a href="navigation_horizontal_elements.html" class="nav-link">With custom elements</a></li>
              <li class="nav-item"><a href="navigation_horizontal_tabs.html" class="nav-link">Tabbed navigation</a></li>
              <li class="nav-item"><a href="navigation_horizontal_disabled.html" class="nav-link">Disabled navigation links</a></li>
              <li class="nav-item"><a href="navigation_horizontal_mega.html" class="nav-link">Horizontal mega menu</a></li>
            </ul>
          </li>
          <li class="nav-item nav-item-submenu">
            <a href="#" class="nav-link"><i class="icon-tree5"></i> <span>Menu levels</span></a>
            <ul class="nav nav-group-sub" data-submenu-title="Menu levels">
              <li class="nav-item"><a href="#" class="nav-link"><i class="icon-IE"></i> Second level</a></li>
              <li class="nav-item nav-item-submenu">
                <a href="#" class="nav-link"><i class="icon-firefox"></i> Second level with child</a>
                <ul class="nav nav-group-sub">
                  <li class="nav-item"><a href="#" class="nav-link"><i class="icon-android"></i> Third level</a></li>
                  <li class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"><i class="icon-apple2"></i> Third level with child</a>
                    <ul class="nav nav-group-sub">
                      <li class="nav-item"><a href="#" class="nav-link"><i class="icon-html5"></i> Fourth level</a></li>
                      <li class="nav-item"><a href="#" class="nav-link"><i class="icon-css3"></i> Fourth level</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a href="#" class="nav-link"><i class="icon-windows"></i> Third level</a></li>
                </ul>
              </li>
              <li class="nav-item"><a href="#" class="nav-link"><i class="icon-chrome"></i> Second level</a></li>
            </ul>
          </li>
          <!-- /layout -->

        </ul>
      </div>
      <!-- /main navigation -->

    </div>
    <!-- /sidebar content -->

  </div>
  <!-- /main sidebar -->


  <!-- Main content -->
  <div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header">
      <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
          <h4><i class="icon-men mr-2"></i> <span class="font-weight-semibold">{{menuTitle}}</span></h4>
          <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>


      </div>
    </div>
    <!-- /page header -->


    <!-- Content area -->
    <div class="content pt-0">
      <!-- KONTEN -> ROW -> COL -> CARD  -->
      <router-outlet></router-outlet>
    </div>
    <!-- /content area -->


    <!-- Footer -->
    <div class="navbar navbar-expand-lg navbar-light">
      <div class="text-center d-lg-none w-100">
        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
          <i class="icon-unfold mr-2"></i>
          Footer
        </button>
      </div>

      <div class="navbar-collapse collapse" id="navbar-footer">
					<span class="navbar-text">
						&copy; 2015 - 2018. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
					</span>

        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
          <li class="nav-item"><a href="http://demo.interface.club/limitless/docs/" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
          <li class="nav-item"><a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Purchase</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /footer -->

  </div>
  <!-- /main content -->

</div>
<!-- /page content -->
